

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fixibol-sajano{
    display: flex;
    margin-bottom: 130px;
}

.font h1{
    font-size: 48px;
    font-weight: 500;
}
.font h3{
    font-weight: 600;
}

.half-wight{
    width: 50%;
    padding-left: 5%;
}
.half-wight img{
    width: 80%;
}
.orang{
color: orange;
}
.link-button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.top-bannar{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}


.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.font h1 h3{
    font-size: 20px;
}

.experi-item {
    margin-top: 3px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 14px 28px grey;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 47px;
}
.experience{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 12px;
}
#line-first {
    border-left: 4px solid red;
}

#line-second {
    border-left: 5px solid blue;
}
.ex {
    font-size: 41px;
    font-weight: 400;
}

.last h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    padding-top: 53px;
}

.last h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    padding-top: 0px;
}
