

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display: flex;
    margin-bottom: 130px;
}

.font h1{
    font-size: 48px;
    font-weight: 500;
}
.font h3{
    font-weight: 600;
}

.half-wight{
    width: 50%;
    padding-left: 5%;
}
.half-wight img{
    width: 80%;
}
.orang{
color: orange;
}
.link-button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.top-bannar{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}


.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.font h1 h3{
    font-size: 20px;
}
